/*
Halo

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.20.18
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package user_sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type UserConnectionV1alpha1UcAPI interface {

	/*
	DisconnectMyConnection Method for DisconnectMyConnection

	Disconnect my connection from a third-party platform.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param registerId The registration ID of the third-party platform.
	@return ApiDisconnectMyConnectionRequest
	*/
	DisconnectMyConnection(ctx context.Context, registerId string) ApiDisconnectMyConnectionRequest

	// DisconnectMyConnectionExecute executes the request
	//  @return []UserConnection
	DisconnectMyConnectionExecute(r ApiDisconnectMyConnectionRequest) ([]UserConnection, *http.Response, error)
}

// UserConnectionV1alpha1UcAPIService UserConnectionV1alpha1UcAPI service
type UserConnectionV1alpha1UcAPIService service

type ApiDisconnectMyConnectionRequest struct {
	ctx context.Context
	ApiService UserConnectionV1alpha1UcAPI
	registerId string
}

func (r ApiDisconnectMyConnectionRequest) Execute() ([]UserConnection, *http.Response, error) {
	return r.ApiService.DisconnectMyConnectionExecute(r)
}

/*
DisconnectMyConnection Method for DisconnectMyConnection

Disconnect my connection from a third-party platform.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param registerId The registration ID of the third-party platform.
 @return ApiDisconnectMyConnectionRequest
*/
func (a *UserConnectionV1alpha1UcAPIService) DisconnectMyConnection(ctx context.Context, registerId string) ApiDisconnectMyConnectionRequest {
	return ApiDisconnectMyConnectionRequest{
		ApiService: a,
		ctx: ctx,
		registerId: registerId,
	}
}

// Execute executes the request
//  @return []UserConnection
func (a *UserConnectionV1alpha1UcAPIService) DisconnectMyConnectionExecute(r ApiDisconnectMyConnectionRequest) ([]UserConnection, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []UserConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserConnectionV1alpha1UcAPIService.DisconnectMyConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/uc.api.auth.halo.run/v1alpha1/user-connections/{registerId}/disconnect"
	localVarPath = strings.Replace(localVarPath, "{"+"registerId"+"}", url.PathEscape(parameterValueToString(r.registerId, "registerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v []UserConnection
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
